<div id="wrap">
  <div id="content-box">
    <h1 id="tasks">Account<span id="small-menu"><span class="small-menu-item"><a href="/tasks">Tasks</a></span><span class="small-menu-item"><a href="/user/logout/">Logout</a></span></span></h1>
    <h2><%= user.formatted_name %></h2><br />
    <%= display_flashes %>
    <form method="post" action="../user/edit" id="login">
      <fieldset>
        <label for="username">Change email</label><input style="margin-bottom: 15px; border: 1px solid #d3d3d3;" class="input" name="email" size="40" /><br />
        <label for="password">Change password</label><input style="margin-bottom: 15px; border: 1px solid #d3d3d3;" class="input" name="password" size="40" type="password" /><br />
        <label for="password_check">Retype password</label><input style="margin-bottom: 15px; border: 1px solid #d3d3d3;" class="input" name="password_check" size="40" type="password" /><br />
        <input style="border: 1px solid black;" class="submit" type="submit" value="Save" />
      </fieldset>
    </form>
    <div id="footer">© 2012 <a href="http://www.boxedfolder.com" title="boxedfolder.com">boxedfolder.com</a> <span><a href="mailto:mail@boxedfolder.com" title="Contact">Contact</a></span></div>
  </div>
</div>