<div id="wrap">
  <div id="content-box">
    <h1>Forgot your password?</h1>
    <%= display_flashes %>
    <form method="post" action="/reset" id="login">
      <fieldset>
        <label for="email">Email</label><input style="margin-bottom: 15px; border: 1px solid #d3d3d3;" class="input" name="email" size="40" /><br />
        <input style="border: 1px solid black;" class="submit" type="submit" value="Reset" />
      </fieldset>
    </form>
    <div id="footer">© 2012 <a href="http://www.boxedfolder.com" title="boxedfolder.com">boxedfolder.com</a> <span><a href="mailto:mail@boxedfolder.com" title="Contact">Contact</a></span></div>
  </div>
</div>