<form method="post"">
<p></p><input name="title" size="40"><input type="submit" value="Create"></p>
</form>
<h1>My tasks</h1>

<% tasks.each do |task|%>
     <div><form action="update/<%= task.id %>" method="post"><input onclick="this.form.submit();" type="checkbox" name="done" <%= "checked" if task.done %>><b> <%= task.title %></b> order: <i><%= task.id.to_s %></i></form></div>
<% end %>
</div>