<h1>Login</h1>
<p><%= display_flash %></p>
<form method="post" action="../auth/">
  <p>
    Username: <br /><input name="username" size="40" /><br />
    Password: <br /><input name="password" size="40" type="password" /><br /><br />
    <input type="submit" value="Login" />
  </p>
  <p>No account? Sign up <a href="/signup/">here</a></p>
</form>