<div id="wrap">
<div id="content-box">
  <h1>Sign In</h1>
  <%= display_flashes %>
    <form method="post" action="../auth/" id="login">
      <fieldset>
        <label for="username">Username</label><input style="margin-bottom: 15px; border: 1px solid #d3d3d3;" class="input" name="username" size="40" /><br />
        <label for="password">Password</label><input style="border: 1px solid #d3d3d3;" class="input" name="password" size="40" type="password" /><br /><br />
        <input style="border: 1px solid black;" class="submit" type="submit" value="Sign In" />
      </fieldset>
      <p>No account yet? Sign up <a href="/signup/">here</a>.</p>
    </form>
  <div id="footer">© 2012 <a href="http://www.boxedfolder.com" title="boxedfolder.com">boxedfolder.com</a> <span><a href="mailto:mail@boxedfolder.com" title="Contact">Contact</a></span></div>
</div>
</div>