<p><%= display_flash %></p>
<form method="post" action="/user/create/">
<p>
    Email: <br /><input name="email" size="40" /><br />
    Username: <br /><input name="username" size="40" /><br />
    Password: <br /><input name="password" size="40" type="password" /><br /><br />
    <input type="submit" value="Create" />
</p>
</form>