<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <title>Orange - Your easy tasklist</title>
  <link href="/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <%= yield %>
</body>
</html>